* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 20px;
	padding: 0;
}

.level {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 1rem;
}

.target {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
}

.target-length {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: bold;

	background-color: lightgray;
}

.target-word {
	width: min-content;
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: bold;

	background-color: lightgray;
}
